.Board {
    font-family: sans-serif;
    white-space: nowrap;
  }
  
  .Column {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
    width: 150px;
    background: #465362;
    color: #bfdbf7;
    overflow: visible;
  }
  
  .Column__title {
    font-size: 18px;
    margin-bottom: 10px;
    overflow: visible;
    text-align: center;
  }
  
  .Card {
    padding: 15px;
    background: #011936;
    color: #f4fffd;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: move;
    overflow: visible;
  }

  .Card__title{
    overflow: visible;
    text-align: left;
  }
  
  .Card--spacer,
  .Card--dragging {
    opacity: 0;
    overflow: visible;
  }